.Landing {
    position: relative;
    width: 70%;
    height: 80vh;
    margin: auto;
    background-color: white;
    border-radius: 25px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    position: absolute;
    z-index: 2;
    backdrop-filter: blur(100px);
    box-shadow: 4px 4px 5px rgb(36, 41, 43);

}

.Image {
    grid-column: 1/4;
    grid-row: 1/10;
    border-radius: 25px 0 0 25px;
    background-image: url("../UI/Image/ImageStart.jpg");
    background-size: cover;
}

.LoginRegister {
    border-radius: 0 25px 25px 0;
    background-color: rgb(208, 219, 221);
    grid-column: 4/9;
    grid-row: 1/9;
    display: grid;
    position: relative;
}

.UserPanel {
    border-radius: 25px;
    background-color: rgb(208, 219, 221);
    grid-column: 1/9;
    grid-row: 1/9;
    display: grid;
    position: relative;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}