.QuestionnaireTittle {
    display: flex;
    font-size: 1.2rem;
    margin-left: 1.5rem;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
    width: 90%;
}

.FullTittle h1 {
    margin-top: 2rem;
    padding: 0;
    margin-bottom: 0;
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 2rem;
    letter-spacing: 0;

}

.OnTittle {
    margin-left: 2rem;
}

.FullTittle {
    width: 100%;
    margin-bottom: 2rem;
    letter-spacing: 0;

}

.OnTittle:hover {
    color: rgb(76, 116, 130);
}

@media (max-width: 1100px) {
    .QuestionnaireTittle h1{
        font-size: 1rem;
    }

    .FullTittle h1 {
        font-size: 1.5rem;
    }
}

@media (max-width: 500px) {
   .QuestionnaireTittle{
       margin-left: 0;
   }
}

