.ResultQuestionnaire{
    width: 100%;
    display: flex;
}

.SimpleTittle{
    width: 80%;
    margin-left: 2rem;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3rem;
}

.SimpleQuestions{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    width: 90%;
}

.FullResult{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.SimpleQuestions::-webkit-scrollbar {
    width: 10px;
    height: 10px;

}

.SimpleQuestions::-webkit-scrollbar-track {
    background: transparent;
}

.SimpleQuestions::-webkit-scrollbar-thumb {
    background-color: rgb(179, 190, 192);
    border-radius: 50px;
}

/* Handle on hover */
.SimpleQuestions::-webkit-scrollbar-thumb:hover {
    background: #555;
}