.LeftSide{
    display: flex;
    flex-direction: column;
    height: 100%;
    grid-column: 1/2;
    grid-row: 1/5;
    box-shadow: 10px 0px 5px -2px gray;
    background-color: rgb(179, 190, 192);
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    z-index: 2;

}

.RightSide{
    display: flex;
    grid-column: 2/5;
    grid-row: 1/5;
    background-color: rgb(208, 219, 221);
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;

}

.Navigation {
margin-top: 5rem;
}

.LogOut{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;

}

.LogOut button{
    width: 80%;
    font-size: 1rem;

}

.Welcome{
    margin-top: 1rem;
}

.WelcomeUser{
    font-family: 'Lobster', cursive;
}

.WelcomeUser h2{
     font-size: 3rem;
 }


@media (max-width: 1100px) {
    .LogOut button{
        font-size: 1rem;
        width: 7rem;
        padding: 1rem;

    }
}

@media (max-width: 800px) {
    .LeftSide{
        grid-column: 1/9;
        grid-row: 1/1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-self: stretch;
        box-shadow: none;
        border-bottom-left-radius: 0;
        border-top-right-radius: 25px;
    }
    .Welcome{
        display: none;
    }
    .Navigation {
        margin-top: 0rem;
        width: 100%;

    }
    .LogOut button{
        position: absolute;
        right: 4%;
        top: 7%;
        font-size: 0.9rem;
        padding: 0;
        letter-spacing: 0;
        font-weight: bold;


    }
    .LogOut{
        width: 0;
        margin: 0;
        padding: 0;
    }

    .RightSide{
        grid-column: 1/9;
        grid-row: 2/9;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-self: stretch;
        box-shadow: none;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 25px;

    }


}

@media (max-width: 500px) {
    .LogOut button{
        position: absolute;
        right: 4%;
        top: 5%;
        font-size: 0.7rem;
        padding: 0;
        letter-spacing: 0;
        font-weight: bold;
        width: 25%;

    }
}