.SimpleQuestion{
    width: 80%;
    margin-left: 2rem;
    margin-bottom: 2rem;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.6rem;
}

.PieChart{
    display: flex;
    justify-content: center;
    margin-top: -2rem;
    align-items: center;
    width: 50%;
}