.QuestionCreated{
    border: solid  rgb(76, 116, 130) 3px;
    border-radius: 25px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.QuestionProperty{
    font-size: 1.2rem;
}
.QuestionValue {
    font-size: 1.5rem;
    margin: 0;
}



