.QuestionCreated{
    border: solid  rgb(76, 116, 130) 3px;
    border-radius: 25px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.QuestionProperty{
    font-size: 1.2rem;
}
.QuestionValue {
    font-size: 1.5rem;
    margin: 0;
}

.ChangeFullQuestion{
    width: 100%;
    margin-top: -0.5rem;
    font-size: 0.8rem;
    margin-bottom: 1rem;
    text-decoration: underline;
    letter-spacing: 0;
}


