.FullQuestionnaire{
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
}

.QuestionContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    margin-left: 2rem;
    width: 90%;
}

.QuestionContent::-webkit-scrollbar {
    width: 10px;
    height: 10px;

}

.QuestionContent::-webkit-scrollbar-track {
    background: transparent;
}

.QuestionContent::-webkit-scrollbar-thumb {
    background-color: rgb(179, 190, 192);
    border-radius: 50px;
}

/* Handle on hover */
.QuestionContent::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.ChangeQuestionnaireButton{
    margin-top: 1rem;
    padding: 0.7rem;
    width: 20%;
    background-color: rgb(90, 131, 145);
    color: white;
    font-size: 1rem;
    border-radius: 25px;
    border: none;
    box-shadow: 4px 4px 5px rgb(36, 41, 43);
    margin-left: 3rem;
}

.ChangeQuestionnaireButton:hover{
    background-color: rgb(108, 154, 168);

}

.ChangeQuestionnaireButton:focus{
    outline: none;
}

.ChangeQuestionnaireButton:disabled{
    opacity: 50%;
}

.ButtonsForChangeQuestionnaire{
    width: 100%;
}

.ShareLink{
    margin-top: 0rem;
    margin-left: 2rem;
    padding: 0;
}

.Last{
    margin-bottom: 2rem;
}