.LogoText {
    margin-bottom: 1.5rem;
    font-size: 4rem;
    font-family: 'Lobster', cursive;
    letter-spacing: 0.8rem;
    position: absolute;
    z-index: 100;
    left: 3%;
    top: -5%;
    color: rgb(208, 219, 221);

}
