.Question{
    margin: 1rem 0 0 2rem;
    font-size: 1.8rem;
    font-weight: bold;
}

.Answer{
     display: flex;
     flex-direction: column;

 }

.Answer:last-child{
    margin-bottom: 5rem;

}

.DeleteQuestion {
    background-color: rgb(90, 131, 145);
    color: white;
    width: 20%;
    border-radius: 25px;
    height: 2rem;
    border: none;
    box-shadow: 4px 4px 5px rgb(36, 41, 43);
    align-self: flex-end;
    margin-right: 1rem;
    width: 30%;
}

.DeleteQuestion:hover {
    background-color: rgb(76, 116, 130);
}
.DeleteQuestion:focus {
    outline: none;
}


.AnswerWithAddButton{
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
}

.AddButton{
    align-self: center;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.AddAnswerButton {
    background-color: rgb(90, 131, 145);
    color: white;
    width: 40%;
    border-radius: 25px;
    height: 2rem;
    border: none;
    box-shadow: 4px 4px 5px rgb(36, 41, 43);
    align-self: flex-end;
    margin-right: 1rem;
}

.AddAnswerButton:hover {
    background-color: rgb(76, 116, 130);

}

.AddAnswerButton:focus {
    outline: none;
}

.QuestionWithDeleteButton{
    width: 95%;
    display: flex;
    flex-direction: column;
    border: solid 3px rgb(90, 131, 145);
    padding-bottom: 1rem;
    border-radius: 25px;
}

.QuestionData {
    margin-left: 2rem;
}

@media (max-width: 1100px) {
    .Question{
        font-size: 1.2rem;
        margin: 1rem;
    }

    .QuestionData {
        font-size: 0.8rem;
        margin-top: 0;
    }

    .AddAnswerButton {
        font-size: 0.7rem;
    }
}
@media (max-width: 500px) {
    .AnswerWithAddButton{
        display: flex;
        flex-direction: column;
    }

    .AddAnswerButton {
        margin-top: 0.5rem;
        padding: 0.5rem;
        width: 100%;

    }
}
