input{
    border-radius: 25px;
    width: 13rem;
    padding: 1rem;
    margin:1rem;
    background-color: rgba(71, 143, 202, 0.26);
    letter-spacing: 0.2rem;
    border: solid 0.1rem rgba(18, 26, 103, 0.89);
    font-weight: bold;

}

input:focus{
    background-color: rgba(119, 133, 226, 0.65);
    outline: none;
}

.InputField{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

label:first-letter{
    text-transform:capitalize;
}

label{
    width: 4rem;
    text-align: start;
    margin-right: 3rem;
    font-weight: bold;
    letter-spacing: 0.2rem;

    font-size: 1.3rem;
}