.SimpleAnswer {
    margin-top: 1rem;
    font-size: 1.2rem;
    margin-left: 1rem;
}

.AnswerColor {
    min-width: 2rem;
    min-height: 0.5rem;
    display: inline-block;
    margin-left: 1rem;
}

.SimpleAnswer p{
    margin-top: 0.5rem;
    font-size: 1rem;
    margin-left: 1rem;
}

@media (max-width: 1100px) {

    .SimpleAnswer p{
        font-size: 1rem;

    }
}

@media (max-width: 500px) {

    .SimpleAnswer {
        font-size: 0.9rem;
    }
    .SimpleAnswer p{
        font-size: 0.8rem;
    }


}